format: yaml 
destDir: /data/data/alsultan.shell/rootfs/usr/etc
edit:
  command: vim
  apply: true
git:
  autoadd: true
  autocommit: true
  autopush: true
merge:
  command: vimdiff
interpreters:
  py:
    command: /data/data/alsultan.shell/rootfs/usr/bin/python

