format: yaml
destDir: 
edit:
  command: vim
  apply: true
git:
  autoadd: true
  autocommit: true
  autopush: true
merge:
  command: vimdiff
interpreters:
  py:
    command: /data/data/com.termux/files/usr/bin/python

