format: yaml
destDir: 
data:
    email: uq12@pm.me
    name: Yastrebov Ivan
edit:
  command: nvim
  apply: true
git:
  autoadd: true
  autocommit: true
  autopush: true
merge:
  command: vimdiff
interpreters:
  py:
    command: python3

